{{define "grid"}}
<div class="grid">
    {{range $line := .Coordinates}}
        {{range $cell := $line}}
            {{$occupant := $.OccupiedBy $cell }}
                {{if $occupant.Valid}}
                    <a class="btn btn-player-{{ $occupant.String }}" disabled="disabled">{{ $occupant.String }}</a>
                {{else}}
                    {{if not $.IsOver}}
                        <a class="btn btn-default" href="./{{ $.GetNextID $cell }}.html"></a>
                    {{else}}
                        <a class="btn btn-default" disabled="disabled"></a>
                    {{end}}
                {{end}}

        {{end}}
     <br/>
    {{end}}
</div>
{{end}}