{{define "main"}}
<html>
<head>
    <title>Tic Tac Toe - Human vs CPU</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="assets/main.css" rel="stylesheet"/>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <p class="well well-sm text-center" >
        {{if .IsOver}}
            <strong>Game over</strong> : the winner is <a class="btn btn-player-{{ .Winner.String }}" disabled="disabled">{{ .Winner.String }}</a>
        {{else}}
            You play as <a class="btn btn-player-{{ .GetNextPlayer.String }}" disabled="disabled">{{ .GetNextPlayer.String }}</a>
        {{end}}
    </p>
    <br/>
    <div id="grid">
        {{template "grid" .}}
    </div>
    <br/>
    <p class="text-center"><a class="btn btn-success btn-lg" href="./">New game (you start)</a>&nbsp;<a class="btn btn-success btn-lg" href="./cpu.html">New game (CPU starts)</a></p>
</body>
</html>
{{end}}